audit=true
fund=false
package-lock=true
omit-lockfile-registry-resolved=false
registry=https://registry.npmjs.org/
@radomirradojevic:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NR_GITHUB_PACKAGES_READ_TOKEN}
save-exact=true
save-prefix=
strict-peer-deps=true
engine-strict=true
